* {
  font-family: 'Asap';
}

html, body {
  position: relative;
  height: 100%;
  width: 100%;
}

.App {
  margin: 12px;
}

.App, .main {
  position: relative;
  height: 100%;
  width: 100%;
}

.control-panel-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 auto;
  flex-wrap: wrap;
  box-sizing: border-box;
  box-shadow: 0 2px 18px rgba(52,37,214,0.08);
  margin: 16px;
  padding: 16px;
  align-items: flex-start;
  justify-content: space-around;

}

.sort-select, .filter-container {
  position: relative;
  margin: 6px;
}

.sort-select {
  width: 25%;
}

.filter-container {
  width: 65%;

}

.filter-wrapper {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-around;
}

.filter-section-bool, .filter-section-reg {
  width: 50%;
  position: relative;
}

.filter-field-label {
  font-size: 13px;
  font-weight: 460;
  line-height: 18px;
  margin: 3px 0px;
  position: relative;

}

.header {
  font-size: 18px;
  color: white;
  background:#c4d5d5;
  position: sticky;
  top: 0;
  align-items: center
}

.color-list-wrapper {
  position: relative;
  height: 100%;
  weight: 100%;
  display: flex;
  /* flex-direction: column; */
  flex: 1 1 auto;
  flex-flow: row wrap
}

.color-entry-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  margin: 6px;
  padding: 12px 0px 4px 0px;
  border-bottom: 1px solid lightslategray;
  align-items: center;
  flex-flow: row wrap;
}

.color-star, .color-square, .color-hex, .color-group, .color-website-placement {
  position: relative;
  display: inline-flex;
  /* align-items: flex-start; */
}

.color-star, .color-square {
  margin: 0px 18px;
}

.color-hex, .color-group, .color-website-placement, .color-status, .color-edit {
  min-width: 15px;
  max-width: 30%;
  flex: 0 1 10%;
  margin: 0px 12px;
  font-size: 80%;
}



.color-square {
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 4px;
  margin: 0px 4px;
}

.color-entry-form-container {
  display: flex;
  position: relative;
  width: 100%;
}

.form-container, .form-wrapper {
  position: relative;
  width: 100%;
}

.form-container {
  padding: 12px;
  margin: 24px;
  border: #EAECF0 1px solid;
  box-shadow: 0 6px 15px rgba(36,37,38,0.08);
}

.form-col-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  flex: 1 1 auto;
  min-width: 300px;
  justify-content: stretch;
}

.form-col-1, .form-col-2, .form-col-3 {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  align-self: flex-start;
  align-content: center;
}

.form-col-1, .form-col-2 {
  width: 33%;
  flex: 1 1 auto;
  min-width: 90px;
}

.form-col-3 {
  width: 33%;
  flex: 1 1 auto;

}

.form-field-label {
  padding: 3px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: 8px 2px 3px 0px;
}



select {
  font-family: 'Asap' !important;
  width: 75%;
  min-width: max-content;
  padding: 1px;
  margin: 0px 3px;
  display: inline-flex;
  box-shadow: 0 2px 8px rgba(36,37,38,0.08);
  border: #EAECF0 1px solid;
  height: 28px;
  background: white !important;
  border-radius: 3px;

}

input[type='text'] {
  width: 75%;
  display: inline-flex;
  margin: 0px 3px;
  height: 28px;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(36,37,38,0.08);
  border: #EAECF0 1px solid;
}

textarea {
  font-family: 'Asap' !important;
  width: 96%;
  padding: 3px;
  margin: 0px 3px;
  display: inline-flex;
  box-shadow: 0 2px 8px rgba(36,37,38,0.08);
  border: #EAECF0 1px solid;
  background: white !important;
  border-radius: 3px;

}

option {
  font-family: 'Asap' !important;
}

.new-color-form-button {
  margin: 6px;
  padding: 3px 6px;
  width: 24px;
  border-radius: 2px;
}

button.color-edit.button {
  display: none;
}

button.color-edit-button, .form-close-button {
  background: white;
  border: lightgrey 1px solid;
  color: grey;
}

.color-entry-wrapper:hover button.color-edit-button {
  display:inline;
}

.save-color-button {
  background: #0FC190;
  border: #0FC190 1.25px solid;
  color: white;
  font-weight: 450;
}

.delete-color-button {
  background: #FF6280;
  border: #FF6280 1.25px solid;
  color: white;
  font-weight: 450;
}

.save-color-button, .color-edit-button, .delete-color-button, .form-close-button {
  height: 32px;
  width: 60px;
  padding: 2px;
  border-radius: 3px;
  margin: 6px;
}
