* {
  font-family: 'SF Pro Text';
}

html, body {
  position: relative;
  height: 100%;
  width: 100%;
}

.App {
  margin: 12px;
}

.App, .main {
  position: relative;
  height: 100%;
  width: 100%;
}

.new-color-form-button {
  margin: 6px;
  padding: 3px 6px;
  width: 24px;
  border-radius: 2px;
}


.color-list-wrapper {
  position: relative;
  height: 100%;
  weight: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.color-entry-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  margin: 6px;
  padding: 12px 0px 4px 0px;
  border-bottom: 1px solid lightslategray;
  align-items: center;

}

.color-star, .color-square, .color-hex, .color-group, .color-website-placement {
  position: relative;
  display: inline-flex;
  /* align-items: flex-start; */
}

.color-star, .color-square {
    margin: 0px 18px;
}

.color-hex, .color-group, .color-website-placement, .color-status, .color-edit {
  min-width: 15px;
  max-width: 30%;
  flex: 0 1 10%;
  margin: 0px 12px;
}

button.color-edit-button {
  height: 32px;
  width: 36px;
  padding: 2px;
  border-radius: 3px;
  background: none;
  display: none;
}

.color-entry-wrapper:hover button.color-edit-button {
  display:inline;
}


.color-square {
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 4px;
  margin: 0px 4px;
}
