* {
  font-family: 'Open Sans';
}

html, body {
  position: relative;
  height: 100%;
  width: 100%;
}

.App {
  margin: 12px;
}

.App, .main {
  position: relative;
  height: 100%;
  width: 100%;
}

.new-color-form-button {
  margin: 6px;
  padding: 3px 6px;
  width: 24px;
  border-radius: 2px;
}


.color-list-wrapper {
  position: relative;
  height: 100%;
  weight: 100%;
  display: flex;
  /* flex-direction: column; */
  flex: 1 1 auto;
  flex-flow: row wrap
}

.color-entry-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  margin: 6px;
  padding: 12px 0px 4px 0px;
  border-bottom: 1px solid lightslategray;
  align-items: center;
  flex-flow: row wrap;
}

.color-star, .color-square, .color-hex, .color-group, .color-website-placement {
  position: relative;
  display: inline-flex;
  /* align-items: flex-start; */
}

.color-star, .color-square {
  margin: 0px 18px;
}

.color-hex, .color-group, .color-website-placement, .color-status, .color-edit {
  min-width: 15px;
  max-width: 30%;
  flex: 0 1 10%;
  margin: 0px 12px;
  font-size: 80%;
}

button.color-edit-button {

  background: white;
  display: none;
  border: #246EFF 1px solid;
  color: #246EFF;
}

.color-entry-wrapper:hover button.color-edit-button {
  display:inline;
}

.save-color-button, .color-edit-button, .delete-color-button, .form-close-button {
  height: 32px;
  width: 60px;
  padding: 2px;
  border-radius: 3px;
  margin: 6px;
}


.color-square {
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 4px;
  margin: 0px 4px;
}

.color-entry-form-container {
  display: flex;
  position: relative;
  width: 100%;
}

.form-container, .form-wrapper {
  position: relative;
  width: 100%;
}

.form-container {
  padding: 12px;
  margin: 24px;
  border: #EAECF0 1px solid;
  box-shadow: 0 6px 15px rgba(36,37,38,0.08);
}

.form-col-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  flex: 1 1 auto;
  min-width: 300px;
  justify-content: stretch;
}

.form-col-1, .form-col-2, .form-col-3 {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  align-self: flex-start;
  align-content: center;
}

.form-col-1, .form-col-2 {
  width: 33%;
  flex: 1 1 auto;
  min-width: 90px;
}

.form-col-3 {
  width: 33%;
  flex: 1 1 auto;

}

.form-field-label {
  padding: 3px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: 12px 2px 3px 0px;
}



select {
  font-family: 'Open Sans' !important;
  width: 75%;
  padding: 1px;
  margin: 0px 3px;
  display: inline-flex;
  box-shadow: 0 2px 8px rgba(36,37,38,0.08);
  border: #EAECF0 1px solid;
  height: 28px;
  background: white !important;
  border-radius: 3px;

}

input[type='text'] {
  width: 75%;
  display: inline-flex;
  margin: 0px 3px;
  height: 28px;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(36,37,38,0.08);
  border: #EAECF0 1px solid;
}

textarea {
  font-family: 'Open Sans' !important;
  width: 96%;
  padding: 3px;
  margin: 0px 3px;
  display: inline-flex;
  box-shadow: 0 2px 8px rgba(36,37,38,0.08);
  border: #EAECF0 1px solid;
  background: white !important;
  border-radius: 3px;

}

option {
  font-family: 'Open Sans' !important;
}
